#homepage-grid {
	padding-left: 20px;
	display: grid;
	grid-template-columns: 1fr 1/5fr;
	grid-template-rows: 1fr 1fr;

	grid-template-areas:
		" reimbursement-display submit-form"
		" reimbursement-display submit-form";
}

#reimbursements {
	grid-area: reimbursement-display;
}

#reimbursement-submit-form {
	grid-area: submit-form;
	margin-left: 30px;
	margin-top: 40px;
}

#reimbursement-submit-form div {
	margin-top: 10px;
}

body {
	height: 1200px;
}

.submit-btn {
	margin-bottom: 20px;
}

h1 {
	align-content: center;
}
.logout {
	justify-self: right;
	position: relative;
}
