* {
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 15px;
	margin-left: 80px;
	width: 400;
	border-top: 5px solid #07072b;
	border-left: 5px solid #07072b;
	border-bottom: 5px solid #07072b;
	border-right: 5px solid #07072b;
}
.grid-2-cols {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 10px;
}

.input {
	margin-bottom: 10px;
	font-weight: bold;
	color: red;
}

.frame1 {
	text-align: center;
	width: 200px;
	background-color: antiquewhite;
	height: 160px;
	margin-left: 60px;
	margin-bottom: 20px;
}

.frame2 {
	text-align: center;
	width: 200px;
	background-color: aquamarine;
	height: 160px;
	margin-left: 15px;
	margin-bottom: 20px;
}

.frame3 {
	text-align: center;
	width: 200px;
	background-color: #a5a5eb;
	height: 160px;
	margin-left: 60px;
	margin-bottom: 15px;
	margin-bottom: 40px;
}

.frame4 {
	text-align: center;
	width: 200px;
	background-color: #a971dd;
	height: 160px;
	justify-content: center;
	margin-left: 15px;
	margin-bottom: 40px;
}
.add-frame {
	font-weight: bold;
}

.button {
	margin-top: 5px;
	font-weight: bold;
	font-size: 20px;
	color: #490fb6;
}
.input {
	width: 100px;
	margin-top: 10px;
	font-size: 20px;
}
h1 {
	text-align: center;
	text-transform: capitalize;
	color: blue;
	padding-top: 5px;
	padding-bottom: 6px;
}

h2 {
	font-size: 16px;
	margin-top: 5px;
}

body {
	width: 600px;
}
